<!DOCTYPE html>
<html>
<head>
  <title>Coreon - Knowledge meets language.</title>
  
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "themes/berlin", :media => "all", :id => 'coreon-theme' %>
  <!-- <%= stylesheet_link_tag "themes/athens", :media => "all", :disabled => true %> -->
  
  <%= javascript_include_tag "application", charset: "utf-8" %>
  <%- if Rails.env.test? %>
    <%= javascript_include_tag "jquery.simulate.js", charset: "utf-8" %>
  <%- end %>
</head>
<body>
<%= yield %>
</body>
</html>
